# SQL
En este notebook aprenderemos a conectar python -> MySQL

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    port="3307"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('fpbd',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [3]:
mydb1 = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="test"
)

if mydb1.is_connected():
    print("Connected successfully")
else:
    print("Failed to connect")

Connected successfully

In [4]:
#DB operations
mydb1.close()
mydb1.is_connected()

False

In [5]:
mydb.is_connected()

True

In [6]:
#Eliminamos una base de datos
mycursor.execute("DROP DATABASE IF EXISTS FPBD")

In [7]:
if mydb.is_connected():
    mycursor = mydb.cursor()
    mycursor.execute("CREATE DATABASE FPBD")
    mycursor.execute("SHOW DATABASES")
    for x in mycursor:
        print(x)

('fpbd',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [8]:
fpbd = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="fpbd"
)

In [9]:
mycursor_fpbd = fpbd.cursor(buffered=True)
#mycursor_fpbd.execute("DROP TABLE alumnos")

In [10]:
mycursor_fpbd.execute("CREATE TABLE IF NOT EXISTS alumnos (name VARCHAR(255), correo VARCHAR(255))")

In [11]:
mycursor_fpbd.execute("SHOW TABLES")

for x in mycursor_fpbd:
    print(x)

('alumnos',)

In [12]:
#mycursor_fpbd.execute("DROP TABLE materias")

In [13]:
# Primary key
mycursor_fpbd.execute("CREATE TABLE IF NOT EXISTS materias (id INT AUTO_INCREMENT PRIMARY KEY, nombre VARCHAR(255), direccion VARCHAR(255))")

In [14]:
mycursor_fpbd.execute("SHOW TABLES")

for x in mycursor_fpbd:
    print(x)

('alumnos',)
('materias',)

In [15]:
#Insertar en tabla 
sql_insert = "INSERT INTO alumnos (name, correo) VALUES (%s,%s)"
val = ("Juan", "algo@tecmilenio.mx")
mycursor_fpbd.execute(sql_insert, val)

In [16]:
#Actualizamos la conexión
fpbd.commit()
#Contamos las filas
print(mycursor_fpbd.rowcount, "Insertadas")

1 Insertadas

In [17]:
# Inserción de múltiples elementos
multi_val = [("Julia", "algo@tecmilenio.mx"),
            ("Axel", "algo@tecmilenio.mx"),
            ("Fernanda", "algo@tecmilenio.mx"),
            ("Adriana", "algo@tecmilenio.mx"),
            ("José Francisco", "algo@tecmilenio.mx")]

mycursor_fpbd.executemany(sql_insert, multi_val)

In [18]:
#Actualizamos la conexión
fpbd.commit()
#Contamos las filas
print(mycursor_fpbd.rowcount, "Insertadas")

5 Insertadas

In [19]:
# Seleccionar elementos
sql_select = "SELECT * FROM alumnos"
mycursor_fpbd.execute(sql_select)
#Extraemos la selección
result_sel = mycursor_fpbd.fetchall()

for x in result_sel:
    print(x)

('Juan', 'algo@tecmilenio.mx')
('Julia', 'algo@tecmilenio.mx')
('Axel', 'algo@tecmilenio.mx')
('Fernanda', 'algo@tecmilenio.mx')
('Adriana', 'algo@tecmilenio.mx')
('José Francisco', 'algo@tecmilenio.mx')

In [20]:
#Toma uno
#Extraemos la selección
mycursor_fpbd.execute(sql_select)
result_sel = mycursor_fpbd.fetchone()
print(result_sel)

('Juan', 'algo@tecmilenio.mx')

In [21]:
# Where para selección específica
sql_select_where = "SELECT * FROM alumnos WHERE name = 'Juan'"
mycursor_fpbd.execute(sql_select_where)
result_sel = mycursor_fpbd.fetchall()
print(result_sel)

[('Juan', 'algo@tecmilenio.mx')]

In [22]:
# Where para selección específica
sql_select_where_correo = "SELECT * FROM alumnos WHERE correo = %s"
correo= ("algo@tecmilenio.mx",)
mycursor_fpbd.execute(sql_select_where_correo, correo)
result_sel = mycursor_fpbd.fetchall()
print(result_sel)

[('Juan', 'algo@tecmilenio.mx'), ('Julia', 'algo@tecmilenio.mx'), ('Axel', 'algo@tecmilenio.mx'), ('Fernanda', 'algo@tecmilenio.mx'), ('Adriana', 'algo@tecmilenio.mx'), ('José Francisco', 'algo@tecmilenio.mx')]

In [23]:
# Ordenar elementos por 
sql_select_order = "SELECT * FROM alumnos ORDER BY name"
mycursor_fpbd.execute(sql_select_order)
result_sel = mycursor_fpbd.fetchall()
print(result_sel)

[('Adriana', 'algo@tecmilenio.mx'), ('Axel', 'algo@tecmilenio.mx'), ('Fernanda', 'algo@tecmilenio.mx'), ('José Francisco', 'algo@tecmilenio.mx'), ('Juan', 'algo@tecmilenio.mx'), ('Julia', 'algo@tecmilenio.mx')]

In [24]:
# Eliminar elementos de la tabla
sql_delete_juan = "DELETE FROM alumnos WHERE name='Juan'"
mycursor_fpbd.execute(sql_delete_juan)
fpbd.commit()
print(mycursor_fpbd.rowcount, " elementos eliminados")

1  elementos eliminados

In [25]:
# Actualizar elementos
sql_update = "UPDATE alumnos SET correo=%s WHERE name=%s"
val = ("axel@tecmilenio.mx","Axel")
mycursor_fpbd.execute(sql_update, val)
fpbd.commit()
print(mycursor_fpbd.rowcount, " elementos actualizados")

1  elementos actualizados